.board-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.add-list-section {
  margin-top: 20px;
}

.new-list {
  display: flex;
  flex-direction: column;
}

.mb-2 {
  margin-bottom: 10px;
}
